<div class="row">
    <div class="col-md-12 col-xs-12" >
        <span class="text-center"><h2 class="text-uppercase">Project {{ project.description}}</h2></span>
        <hr style="height: 5px;" />

        <div class="col-md-6 col-xs-12">
            <span class="text-center"><h4 class="text-uppercase">Teams</h4></span>
            <table class="table table-hover">
                <thead>
                <th>#</th>    
                <th>Name</th>
                <th>Created</th>
                <th>Responsibilities</th>
                <th>Board</th>
                </thead>
                <tbody ng-repeat="team in project.team">
                <td>{{ team.id}}</td>
                <td>{{ team.name}}</td>
                <td>{{ formatDate(team.created_at) | date}}</td>
                <td>Overall development</td>
                <td><a href="#/project/{{project.id}}/board/{{ project.board[0].id}}">Go to board</a></td>
                </tbody>
            </table>    
        </div>
        <div class="col-md-6 col-xs-12">
            <span class="text-center"><h4 class="text-uppercase">Feed</h4></span>
            <hr style="height: 5px;" />
        </div>
    </div>
</div>    